<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Suite" parallel="tests" thread-count="5">
	<listeners>
		<listener class-name="com.cadmin.utilities.EventTestNGListener"></listener>
	</listeners>
  <test name="Test1">
    <classes>
      <class name="com.cadmin.testcases.TC_CorporateTimeoff"/>
      <class name="com.cadmin.testcases.TC_StaffDailylist"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
